<% if @decision_log.persisted? %>

  <%# Replace the inline blocker form with a confirmation pill %>
  <%= turbo_stream.replace "blocker_form_#{@mission.id}" do %>
    <div class="blocker-confirmation" id="blocker_form_<%= @mission.id %>">
      <i class="fa-solid fa-circle-check"></i> Point bloquant ajouté
    </div>
  <% end %>

  <%# If this came from a doc-row button, also swap that button area %>
  <% if (doc_id = params.dig(:decision_log, :document_id)).present? %>
    <%= turbo_stream.replace "doc_blocker_area_#{doc_id}" do %>
      <span class="doc-blocker-pill">
        <i class="fa-solid fa-triangle-exclamation"></i> Point bloquant
      </span>
    <% end %>
  <% end %>

  <%# Refresh pav_section so the new log appears in Progression tab %>
  <%= turbo_stream.replace "pav_section_#{@mission.id}" do %>
    <%= render "missions/pav_section",
          mission:       @mission,
          pending_logs:  @pending_logs,
          vesta_count:   @entry[:vesta_count],
          client_count:  @entry[:client_count] %>
  <% end %>

<% else %>

  <%# Show errors inline %>
  <%= turbo_stream.replace "blocker_form_#{@mission.id}" do %>
    <div class="blocker-inline__error" id="blocker_form_<%= @mission.id %>">
      <%= @decision_log.errors.full_messages.first %>
    </div>
  <% end %>

<% end %>
