<div class="container-fluid show-mission p-1">
  <h1 class="show-mission--title"><%= @mission.title %></h1>
  <div class="show-mission--subtitle d-flex align-items-center gap-4 mb-4">
    <div><%= mission_status_badge(@mission.mission_status) %></div>
    <div>Client : <%= "#{@mission.client.first_name} #{@mission.client.last_name}" %></div>
    <div>Dernière activité il y a <%= time_ago_in_words(@mission.last_activity_at) %></div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= render "step_timeline", mission: @mission %>
    </div>
    <div class="col-md-8">
      <%= render "pav_section", mission: @mission, pending_logs: @pending_logs, vesta_count: @vesta_pending_count, client_count: @client_pending_count %>
      <%= render "decided_section", mission: @mission, decided_logs: @decided_logs %>
    </div>
  </div>
</div>
